
@{
    ViewBag.Title = "Password";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}
@model StaffList.DataEntitiess.Account
<h2>Şifre Güncelleme</h2>
<form method="post" action="/Account/PasswordUpdate">
    <div class="form-group">
        <label for="exampleInputEmail1">E-Mail</label>
        <input type="email" class="form-control" value="@Model.UserName" name="UserName" aria-describedby="emailHelp" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Şifre</label>
        <input type="text" class="form-control"  name="Password" placeholder="Yeni Şifre">
    </div>
    <br />
    <br />
   
    <button type="submit" class="btn btn-primary">Kaydet</button>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>
    }
</form>